asgiref==3.7.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.1
Django==4.2.3
djangorestframework==3.14.0
idna==3.4
josepy==1.13.0
mozilla-django-oidc==3.0.0
Pillow==10.0.0
pycparser==2.21
PyJWT==2.7.0
pyOpenSSL==23.2.0
pypng==0.20220715.0
pytz==2023.3
qrcode==7.4.2
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.3
