<html>
<body>
    <center>
        <img src="https://2023.ubuntu-kr.org/logo.svg" style="width: 150px;"/>
        <h3>UbuCon Korea 2023</h3>
        <h1>참가확인증</h1>
        <p>
            아래 사람이 우분투한국커뮤니티에서 지난 2023년 9월 9일 서울특별시 종로구 종로1길 50 더케이트윈타워 A동 한국마이크로소프트 13층에서 개최한
            UbuCon Korea 2023 행사에 사전 참가 등록 하고, 행사 당일 현장 체크인 및 행사 일정에 참여 하였음을 증명함.
        </p> 
        <h2>- 아래 -</h2>
    </center>
        <ul>
            <li><b>성명: </b> {{ name }}</li>
            <li><b>소속: </b> {{ affiliation }}</li>
            <li><b>직업/직책: </b> {{ role }}</li>
            <li><b>체크인 일시: </b> {{ checkedInAt }}</li>
        </ul>
        
        <center>
            <h3>{{year}}년 {{month}}월 {{day}}일</h3>
        </center>
        <div style="display: flex; flex-direction: row; margin-left: 20%;">
            <h2>우분투한국커뮤니티 대표 한영빈</h2>
            
            <img style="width: 100px; margin-left: -30px;"
                src="{{ stampImage }}" />
        </div>
        
</body>
</html>