<html>
  <head>
    <title>UbuCon Korea 2025 참가확인증 발급</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.3.0.min.css" />
    
  </head>
  <body>
    <div class="p-strip--white is-deep">
      <div class="row--25-75">
        <div class="col">
          <h1>UbuCon Korea 2025 참가확인증 발급</h1>
          <h2>UbuCon Korea 2025에 참석 해 주셔서 감사합니다! 참가확인증을 발급하려면, 참가 등록 시 사용하신 이메일 주소를 입력 해 주세요.</h2>
          <p>체크인 기록이 있는 경우, 메일로 참가확인증을 바로 발급하여 보내 드립니다. 이메일 발신 주소는 noreply@email.ubuntu-kr.org 입니다. 간혹 스팸함에 메일이 들어가기도 하니, 참고 해 주시기 바랍니다.</p>
          {% if request_done %}
          <div class="p-notification--information">
            <div class="p-notification__content">
              <h5 class="p-notification__title">요청이 접수 되었습니다!</h5>
              <p class="p-notification__message">체크인 기록이 있는 경우, 참가확인증을 발급 및 발송 해 드립니다.</p>
            </div>
          </div>
          {% endif %}
          <form action="/request_cert/" method="post">
            {% csrf_token %}
            <label for="email">이메일 주소 입력:</label>
            <input id="email" type="text" name="email" />
            {{ form.captcha }}
            <button type="submit" name="submit" value="OK">참가확인증 요청</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
